body{
  background-image: url(https://engagiertes-goerlitz.de/uploads/ausschreibung_pexels.jpeg);
  background-size: cover;
  background-repeat: no-repeat;

}
.nav{
  background-color: wheat;
  width: 100%;
  height: 100px;
}
#Add{
  margin-left: 650px;
  width: 20%;
  margin-top: 20px;
  background-color: wheat;
  color: white;
  border: none;
  font-size: 30px;
}
#Add:hover{
 transition: 1s;
  width: 25%;
  height: 50px;
 
}