.nav{
  background-color: purple;
  width: 100%;
  height: 100px;
}
#Add{
  margin-left: 650px;
  width: 20%;
  margin-top: 30px;
  background-color: palevioletred;
  border: none;
}
#Add:hover{
 transition: 1s;
  width: 25%;
  height: 50px;
 
}